.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin-left:20px;
}

h1{
  color:rgb(12, 238, 227);
  font-family: "Roboto";
  font-size: 30px;
  padding-left: 20px;
}

.para{
  color:rgb(70, 116, 33);
  font-family: "Roboto";
  padding-left: 20px;
}

button{
  background-color: rgb(226, 142, 215);
  padding: 10px;
  margin-left: 10px;
  border-radius: 2px;
  border:none
}

.text{
  color:#0755f3;
  padding-left: 20px;
}

